%html
  %head
    %title Web volume control
    %link{rel: "stylesheet", href: "style.css", type: "text/css"}
    <meta charset="UTF-8">

  %body
    .container
      %h1
        Web volume control

      %p
        .volumen-btns
          %ul
            %li
              %button{id: "up"}
                +
            %li
              %button{id: "down"}
                \-
        .state-btn
          %ul
            %li
              %button{id: "mute"}
                &#128266;

        #volume
        #state
    %script{type: "text/javascript", src: "app.js"}