%html
  %head
    %title Web volume control
    %link{rel: "stylesheet", href: "style.css", type: "text/css"}
    <meta charset="UTF-8">

  %body
    %h1
      Web volume control

      %p
        Menu:
        %ul
          %li
            %a{id: "up", href:"#"}
              +
          %li
            %a{id: "down", href: "#"}
              \-
          %li
            %a{id: "mute", href: "#"}
              ((D

        #volume
        #state
    %script{type: "text/javascript", src: "app.js"}