body{
    font-size: 2em;
    background-color: #3c3a40;
    color: #fff;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bold;
}

ul{
    list-style: none;
    margin: none;
    padding: none;
}

button{
    background: #ddd;
    font-size: 3em;
    width: 300px;
    height: 20%;
}

#up{
    border-radius: 50px 50px 0 0;
}

#down{
    border-radius: 0 0 50px 50px;
}

#mute{
    border-radius: 50px;
}

button:hover{
    background: #ff0;
}

#volume{
    font-family: Courier;
    font-size: 1em;
}

@media (max-width: 700px) {
    h1{
        font-size: 1em;
    }
    button{
        font-size: 2em;
        height: 30%;
    }
    .container{
        width: 80%;
    }
}

@media (max-width: 480px){
    h1{
        font-size: 0.5em;
    }
    button{
        font-size: 1em;
        width: 200px;
        height: 150px;
    }
    
}